<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выпускное приложение. Петров С.В.</title>
</head>
<body>
    <h1>Прогнозирование показателей</h1>
    <h2>Прогнозирование "Модуль упругости при растяжении, ГПа" и "Прочность при растяжении, МПа" с использованием алгоритмов машинного обучения</h2>
    <p>Tekst</p>
    <form actions="", method="post">
        <p>
            <label>Соотношение матрица-наполнитель:</label>
            <input type="text" name="x1">
            <label>Плотность, кг/м3:</label>
            <input type="text" name="x2">
            <label>модуль упругости, ГПа:</label>
            <input type="text" name="x3">
            <label>Количество отвердителя, м.%:</label>
            <input type="text" name="x4">
            <label>Содержание эпоксидных групп,%_2:</label>
            <input type="text" name="x5">
            <label>Температура вспышки, С_2:</label>
            <input type="text" name="x6">
            <label>Поверхностная плотность, г/м2:</label>
            <input type="text" name="x7">
            <label>Прочность при растяжении, МПа:</label>
            <input type="text" name="x8">
            <label>Потребление смолы, г/м2:</label>
            <input type="text" name="x9">
            <label>Угол нашивки, град:</label>
            <input type="text" name="x10">
            <label>Шаг нашивки:</label>
            <input type="text" name="x11">
            <label>Плотность нашивки:</label>
            <input type="text" name="x12">
        </p>
        <p><input type="submit"></p>
    </form>

    <h2>Соотношение матрица-наполнитель</h2>


</body>
</html>