<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выпускное приложение. Петров С.В.</title>
</head>
<body>
    <h1>Прогнозирование показателей</h1>
    <h2>Прогнозирование "Модуль упругости при растяжении, ГПа" и "Прочность при растяжении, МПа" с использованием алгоритмов машинного обучения</h2>
    <p>
        {% if message %}
        {{ message }}
        {% endif %}
    </p>
    <form action="" , method="post">
        <p>
            <label>Соотношение матрица-наполнитель:</label>
                <input type="text" name="x1">
            <label><br>Плотность, кг/м3:</label>
                <input type="text" name="x2">
            <label><br>Модуль упругости, ГПа:</label>
                <input type="text" name="x3">
            <label><br>Количество отвердителя, м.%:</label>
                <input type="text" name="x4">
            <label><br>Содержание эпоксидных групп,%_2:</label>
                <input type="text" name="x5">
            <label><br>Температура вспышки, С_2:</label>
                <input type="text" name="x6">
            <label><br>Поверхностная плотность, г/м2:</label>
                <input type="text" name="x7">
            <label><br>Прочность при растяжении, МПа:</label>
                <input type="text" name="x8">
            <label><br>Потребление смолы, г/м2:</label>
                <input type="text" name="x9">
            <label><br>Угол нашивки, град:</label>
                <input type="text" name="x10">
            <label><br>Шаг нашивки:</label>
                <input type="text" name="x11">
            <label><br>Плотность нашивки:</label>
                <input type="text" name="x12">
        </p>
        <p><input type="submit"></p>
    </form>

    <h2>Прогнозирование "Соотношение матрица-наполнитель" </h2>


</body>
</html>