<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выпускное приложение. Петров С.В.</title>
</head>
<body>
    <h1>Прогнозирование показателей</h1>
    <h2>Прогнозирование "Соотношение матрица-наполнитель" с использованием нейронной сети</h2>
    <p>
        {% if message %}
        {{ message }}
        {% endif %}
    </p>
    <form action="" , method="post">
        <p>
            <label><br>Плотность, кг/м3:
                <input type="text" name="x1"></label>
        </p>
        <p>
            <label><br>Модуль упругости, ГПа:
                <input type="text" name="x2"></label>
        </p>
        <p>
            <label><br>Количество отвердителя, м.%:
                <input type="text" name="x3"></label>
        </p>
        <p>
            <label><br>Содержание эпоксидных групп,%_2:
                <input type="text" name="x4"></label>
        </p>
        <p>
            <label><br>Температура вспышки, С_2:
             <input type="text" name="x5"></label>
        </p>
        <p>
            <label><br>Поверхностная плотность, г/м2:
                <input type="text" name="x6"></label>
        </p>
        <p>
            <label><br>Модуль упругости при растяжении, ГПа:
                <input type="text" name="x7"></label>
        </p>
        <p>
            <label><br>Прочность при растяжении, МПа:
                <input type="text" name="x8"></label>
        </p>
        <p>
            <label><br>Потребление смолы, г/м2:
                <input type="text" name="x9"></label>
        </p>
        <p>
            <label><br>Угол нашивки, град:
                <input type="text" name="x10"></label>
        </p>
        <p>
            <label><br>Шаг нашивки:
                <input type="text" name="x11"></label>
        </p>
        <p>
            <label><br>Плотность нашивки:
                <input type="text" name="x12"></label>
        </p>
        <p><input type="submit"></p>
    </form>
</body>
</html>